@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

@font-face {
  font-family: "Hack Regular";
  font-style: normal;
  src:
    local("Hack Regular"),
    url("/hack-regular.woff2") format("woff2");
}

body {
  @apply text-indigo-200;
  font-family: "Hack Regular";
}

h1 {
  @apply text-2xl my-5 text-purple-500 font-medium;
}

h2 {
  @apply text-xl my-5 text-purple-400 font-medium;
}

h3 {
  @apply my-5 text-purple-300 font-medium;
}

main {
  @apply leading-tight text-lg;
}

main a {
  @apply text-indigo-400;
}

ol {
  @apply list-decimal mx-8 my-2;
}
ul {
  @apply list-disc mx-4 my-2;
}
